* {
margin-top:0.5rem;
padding:0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-div{

}

.block-img{
  border-radius:45%;
  border: 3px solid #3fc1c9;
  box-shadow: 3px 7px #3fc1c9;
}

.nav-header,.nav-content{
  border:2px solid grey;
  background-image: url("https://wallpaperaccess.com/full/1924578.jpg");
  background-attachment: fixed;

}
